-r requirements.txt

flake8==3.8.4
mccabe==0.6.1
pycodestyle==2.6.0

#Deps do pytest
more-itertools==8.5.0
py==1.9.0
atomicwrites==1.4.0
attrs==20.2.0
pluggy==0.13.1
pytest==7.4.1
pyparsing==2.4.7
pyflakes==2.2.0

#Converage
coverage==5.3
pytest-cov==2.10.1

